<div id="flex">
  <p id="entete" (click)="close()">Merci d'avoir participé 🙏🔥</p>
  <p id="txtConcept" (click)="close()">Si tu apprécies le concept, le meilleur moyen pour soutenir ton ami et le projet,
    c'est de suivre notre activité YouTube, tu y retrouveras pleins de styles différents ⬇️</p>
  <a id="chill" href="https://www.youtube.com/watch?v=M6JKxefPLfU&list=PLoFr9bEG_sXsOX2g-wjZSFa8ZkstbVC6Y"
    target="_blank">Si tu veux des sons Chill pour te poser en toute tranquillité 🌆🌦️🌃</a>
  <a id="reveil" href="https://www.youtube.com/watch?v=HPo2hRJLrbE&list=PLoFr9bEG_sXs3XbiCf6icqYScxMVIoT9k"
    target="_blank">Pour bien te réveiller le matin, des mélodies qui donnent le smile & la joie de vivre 🌄😜🌅</a>
  <a id="ete" href="https://www.youtube.com/watch?v=QURK81N18fw&list=PLoFr9bEG_sXuvR2TLcUvzrUAid4_SJ73p&index=4&t=0s"
    target="_blank">Si tu cherches une musique en fonction d'une émotion en particulier🎼🎹🎷</a>
  <a id="trap" href="https://www.youtube.com/watch?v=O-guK6IvGLo&list=PLoFr9bEG_sXufIZXnk06fLpeu2SOUR-_a"
    target="_blank">Ou si tu es dans un mood un peu plus Bresom ambiance Trap 😈</a>
  <p id="endDesc" (click)="close()">On a de tout, et chaque semaine c'est 5 nouvelles mélodies sur pleins de thèmes
    différents, rien que pour toi, peu importe ton humeur, on veille à ce que tu aies ce que tu recherches, le tout avec
    beaucoup d'attention 😉</p>
</div>
